* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-image: url(./backg2.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
    text-align: center;
}

header img {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, blue 0%, blueviolet 50%, green 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.2);
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, blue 0%, blueviolet 50%, green 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0,47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul li {
    transition: transform .3s;

}

section ul li :hover{
    transform: scale(1.1);
}

ul {
    display: flex;
    gap: 16px;
}

.Projetos-List img {
    width: 90px;
    border-radius: 8px;
}

.Game-List img {
    width: 90px;
    border-radius: 8px;
}

.Series-List img {
    width: 90px;
    border-radius: 8px;
}

.Filmes-List img {
    width: 90px;
    border-radius: 8px;
}

.Animes-List img {
    width: 90px;
    border-radius: 8px;
}

.Channel-List img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid black;
}

.Social-List img {
    border-radius: 50%;
    width: 70px;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

